<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Slate</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>slate</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>kakao95c71c63e60de73eca63343269998377</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>kakaokompassauth</string>
			<string>kakaolink</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>Explanation on why the camera access is needed.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Explanation on why the microphone access is needed.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string></string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>App require camera access for movie data-based snapshotting. 슬레이트는 영화 데이터 기반의 스냅샷 촬영 기능을 위해 카메라 접근을 필요로합니다.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Slates require microphone access for movie data-based snapshotting. 슬레이트는 영화 데이터 기반의 스냅샷 촬영 기능을 위해 마이크 접근을 필요로합니다.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>App requires location information to output map data and provide movie/tourism information based on user location information. It is secure and private. 슬레이트는 사용자 위치정보를 기반으로 지도 데이터 출력 및 영화/관광 정보 제공을 위해 위치정보를 필요로합니다.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>App requires location information to output map data and provide movie/tourism information based on user location information. It is secure and private. 슬레이트는 사용자 위치정보를 기반으로 지도 데이터 출력 및 영화/관광 정보 제공을 위해 위치정보를 필요로합니다.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>App requires location information to output map data and provide movie/tourism information based on user location information. It is secure and private. 슬레이트는 사용자 위치정보를 기반으로 지도 데이터 출력 및 영화/관광 정보 제공을 위해 위치정보를 필요로합니다.</string>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
